<h1>ASKK </h1>
<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what is the meaning of life?">
  <input type="submit" value="Go on!">
</form>
